@import "../Styles/Sass/02-base/_color.scss";

@import "../Styles/Sass/01-utilitles/_mixins.scss";

.container_4
{
    display: flex;
    @include width-heigth (100%, 80vh);
}

.img_4
{  
    width: 60%;
    order: 1;
}

aside
{
    @include width-heigth(40%, 50%);
    align-self: center;
}

@media only screen and (max-width:767px)
{
    aside
    {
        position: absolute;
        width: 100%;
        height: 0%;
        align-self: center;
        
    }
        .img_4
        {
            width: 100%;
        }

}    